extends layout

block content
  section
    h1 Chats
    #chat-container
      #chat-messages
        .message.received
          .message-header
            img(src=`${ASSETS_PATH}/img/profile.jpg`, alt="profile")
            span.sender Admin
            span.time 10:30 AM
          .message-content Welcome to the chat system!
        
        .message.sent
          .message-header
            span.time 10:32 AM
          .message-content Thank you! This looks great.
      
      #chat-input
        input(type="text", placeholder="Type your message...", id="messageInput")
        button(type="button", id="sendButton") Send