extends layout

block content
  section
    h1 Create Chat
    #create-chat-container
      #search-section
        input(type="text", id="userSearch", placeholder="Search users by name or email...")
        #search-results
        
      #selected-users
        h3 Selected Users:
        #selected-users-list
      
      #chat-actions
        button#create-chat-submit Create Chat
        button#cancel-create(onclick="history.back()") Cancel

    script.
      // Expose template variables to JavaScript
      const currentUser = !{JSON.stringify(user)};
      const authToken = '#{authToken}';
      const ASSETS_PATH = '#{ASSETS_PATH}';
      console.log('Template variables loaded:', { currentUser, authToken, ASSETS_PATH });
      
    script(src="/js/create-chat.js")