#profile-popup {
    top: 3rem;
    right: 0;
    width: 200px;
}

#profile-popup .popup-body {
    border-color: var(--neon-blue);
    box-shadow: 0 0 15px var(--neon-blue);
    display: flex;
    flex-direction: column;
}

#profile-popup a {
    padding: 0.8rem;
    color: var(--neon-green);
    text-align: center;
    border-bottom: 1px solid rgba(0, 255, 0, 0.3);
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: all 0.2s;
}

#profile-popup a:last-child {
    border-bottom: none;
}

#profile-popup a:hover {
    background-color: rgba(0, 255, 0, 0.1);
    text-shadow: 0 0 5px var(--neon-green);
}

@media (min-width: 768px) {
    #profile-popup {
        top: 3.6rem;
    }
}

@media (min-width: 1024px) {
    #profile-popup {
        top: 4rem;
        width: 220px;
    }
}