.popup {
    display: none;
    position: absolute;
    z-index: 10;
}

#notifications-popup {
    right: 0;
    top: 3rem;
    width: 300px;
}

.popup-body {
    background-color: var(--dark-bg);
    border: 3px solid var(--neon-yellow);
    box-shadow: 0 0 15px var(--neon-yellow);
    padding: 0.5rem;
    border-radius: 0;
}

.notification {
    padding: 0.8rem;
    border-bottom: 1px solid rgba(255, 255, 0, 0.3);
    cursor: pointer;
}

.notification:hover {
    background-color: rgba(255, 255, 0, 0.1);
}

.notification div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.notification img {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--neon-pink);
    margin-right: 0.5rem;
    image-rendering: pixelated;
}

.notification p {
    margin: 0;
    color: var(--neon-green);
    font-size: 0.7rem;
}

.notification div p {
    color: var(--neon-yellow);
    font-weight: bold;
}

@media (min-width: 768px) {
    #notifications-popup {
        top: 3.6rem;
    }
    
    .notification p {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    #notifications-popup {
        top: 4rem;
        width: 350px;
    }
}